*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

.section1{
    background-color: #565554;
}

.section1 .div-wrapper{
   width: 100%;
}
.section1 .div-wrapper .nav-item{
    margin: 0;   
}

img{
    border-radius: 20px;
}

button{
    padding: 10px;
    background-color: #2176ff;
    font-size: 1.2rem;
    border-radius: 20px;
}

button:hover{
    background-color: #33a1fd;
    color: azure;
    transition: .3s ease;
}
/* dito ung end ng general css */

/* dito ung top bar */

#logo2{
    width: 70px;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: #2176ff;
    position: sticky;
    overflow: hidden;
}

#home-logo{
    align-content: center;
}

.nav-top ul{
    display: flex;
    height: 10vh;
    align-items: center;
    gap: .5rem;
}

.nav-top li{
    padding:0 15px;
}

.nav-top li, a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    list-style-type: none;
}

.nav-top li:hover{
    background-color: #33a1fd;
    border-radius: 20px;
    font-weight: bold;
    height: auto;
    display: flex;
}

/* dito ung side bar */

.section1 .div-wrapper .nav-item .navbar .sidebar{
    background-color: #2176ff;
    display: none;
    position: fixed;
    top: 5px;
    right: 5px;
    width: 50%;
    min-width: 200px;
    height: 60%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1;
    overflow:hidden;
}

.section1 .div-wrapper .nav-item .navbar .sidebar li:hover{
    background-color: #33a1fd;
    border-radius: 20px;
    right: 140px; 
    font-weight: bold;
}

.section1 .div-wrapper .nav-item .navbar .sidebar li, a{
    width: 100%;
    padding: 25px 0 25px 5px;
}

.hideBtn{
    display: none;
}
/* dito na ung mga media responsive */
@media(max-width:768px){
    .hideOnMobile{
        display: none;
    }
    .hideBtn{
        display: block;
    }
}
@media(max-width:480px){
        .sidebar{
        width: 100%;
        height: 70%;
    }
}

/* dito na ung last ng responsive */

section{
    box-sizing: border-box;
    padding-top: 5px;
    height: 95vh;
    min-height: fit-content;
    margin: 0%;
}

/* dito na ung hero section ******************************************************/
.div-hero-wrapper{
    padding-top: 5px;
    box-sizing: border-box;
  
    height: 89vh;
    background-color: #f6f5ae;

    /* border: 2px solid rgb(225, 12, 12); */
    
}
.hero-item{
    
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 88vh;
    /* border: 2px solid black; */
}

.hero{
    width: 90%; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:nowrap;
    /* border: 2px solid black; */
}

#img-hero, .hero-text{
    width: 90%;
}

.hero-text{
    font-size: larger;
}

#head1,#head4,#para1{
    display: flex;
    align-content: center;
    justify-content: center;
}

h1{
    margin-bottom: 15px;
}

h4{
    margin-bottom: 10px;
}


#btn-up{
    height: 50px;
    width: 50px;
    background-color: #c1c131;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bolder;
    color: aliceblue;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 10;
    
    /* padding-top: 5px; */
}

#btn-up-up{
   animation: none;
}
/* #topUp{
    
    width:86px;
    height: 85px;
    display: flex;
    position: fixed;
    border-radius: 90px;
    top: 50px;
    right: 32px;
    justify-items:end;
    align-items:flex-end;
    background-color: blue;
    background-repeat: no-repeat;
     z-index: 100;
     transition: .3s ease;
}

#topUp:hover{
    cursor: pointer;
    background-color: #f3500b;
} */

/* dito na ung pang responsive */

@media(max-width:376px) {
    .hero-item{
        display: flex;
        align-items: center;
    }
    .hero{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
       align-items: center;
    }
    .hero-text, #img-heo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
    
     .sect2-wrapper{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
     }
     .sect2-item{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
        
     }
     .sect2-text-cent{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 5px;
     }

     .sect5{
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
     }
     .sect5-item{
        display: flex;
        justify-content: center;
        align-items: center;
       
        flex-direction: column;
    }
    .social{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .social li{
        padding: 0px 10px;
    }

    .contacts{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-self: center;
        flex-direction: column;
    }

    .contacts li{
         padding: 0px 10px;
    }

    svg{
    background-image: url(/assets/Icons/web/icons8-up-bubbles-32.png);
    }

    
}

@media(max-width:769px) {
    .hero-item{
        display: flex;
        align-items: center;
    }
    .hero{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
       align-items: center;
    }
    .hero-text, #img-heo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
    
     .sect2-wrapper{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
     }
     .sect2-item{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
        
     }
     .sect2-text-cent{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 5px;
     }

     .sect5{
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
     }
     .sect5-item{
        display: flex;
        justify-content: center;
        align-items: center;
       
        flex-direction: column;
    }
    .social{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .social li{
        padding: 0px 10px;
    }

    .contacts{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-self: center;
        flex-direction: column;
    }

    .contacts li{
         padding: 0px 10px;
    }

    svg{
    background-image: url(/assets/Icons/web/icons8-up-bubbles-32.png);
    justify-items: center;
    align-items: center;
    }

    
}
/* dito na ung end pang responsive */


/* dito na ung last ng hero section 1************************************************/

/* dito na ung umpisa ng hero section 2************************************************/
.section2{
    background-color: #FDCA40;
}

.sect2-wrapper{
    height: 89%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sect2-item{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
}

.sect2-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:5px;
}

#port-btn{
    width: 150px;
    margin-top: 50px;
}

#sect2-img{
    width: 40%;
    padding:5px;
}
/* dito na ung last ng hero section 2************************************************/

/* dito na ung umpisa ng hero section 3************************************************/

.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 200px;
    background-color: #f3500b;

}
.section3 .sect3-wrapper{
    overflow: hidden;
    max-width: 1200px;
    margin: 0 75px 55px;
}

.section3 .sect3-wrapper .sect3-list .sect3-item{
    background-color: rgba(248, 248, 248, 0.3);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border:1px solid rgba(255,255,255, .5);
    margin-bottom: 40px;   
}

.section3 .sect3-wrapper .sect3-list .sect3-item .user-image{
    width: 150px;
    height: 150px;
    border-radius: 30px;
    margin-top: 25px;
}

.section3 .sect3-wrapper .sect3-list .sect3-item .username{
    font-size: 1.2rem;
    color: rgb(6, 6, 6);
    font-weight: large;
    margin: 14px 0 25px;

}

.section3 .sect3-wrapper .sect3-list .sect3-item .user-button{
    font-size: 1.2rem;
    padding: 10px 35px;
    margin-top: 15px;
    margin-bottom: 25px;
    color: rgb(255, 255, 255);
    border-radius: 6px;
    font-weight: 500;
    background: green;
    border: 1px solid transparent;

    transition: 0.3s ease;
}

.section3 .sect3-wrapper .sect3-list .sect3-item .user-button:hover{
     background:rgb(78, 157, 235);
    border: 1px solid transparent;
    color: rgb(19, 17, 17);
}

.slider-wrapper .swiper-pagination-bullet{
    background: white;
    height: 15px;
    width: 15px;
}

.slider-wrapper .swiper-slide-button{
    color: whitesmoke;
    margin-top: -20px;
    transition: 0.2s ease;
}

.slider-wrapper .swiper-slide-button:hover{
    color: rgb(12, 198, 52);
}

@media(max-width: 768px){
    .slider-wrapper{
        margin: 0  10px 40px;
    }
    .slider-wrapper .swiper-slide-button{
        display: none;
    }

    .section3 .sect3-wrapper .sect3-list .sect3-item{
          margin-bottom: 0px; 
    }
}

.swiper-pagination-bullets-dynamic {
    padding-bottom: 170px !important;
}
/* dito na ung last ng hero section 3************************************************/

/* dito na ung umpisa ng hero section 4************************************************/
.sect5{
    margin-top: -200px;
    background-color: #565554;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li, .contacts li{
    list-style-type: none;
    padding: 0 20px;
}

.social, .contacts{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* dito na ung last ng hero section 4************************************************/
